
.sidebar {
    background-color: rgb(71, 80, 87);
    grid-row: 1 / 8;
}

.name_title {
    background-color: rgb(189, 195, 199);
}

.work_experience {
    background-color: rgb(234, 236, 239);
}

.education {
    background-color: rgb(189, 195, 199);
}

.skills {
    background-color: rgb(234, 236, 239);
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 1vw;
  }
.grid-item {
    min-height: 100px;
}